* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*
tc1 -> team__content #1
tc2 -> team__content #2
tc3 -> team__content #3
*/

.team {
    grid-template-areas:
        "tc1 tc1 tc2 tc2 tc3 tc3"
        "tc1 tc1 tc2 tc2 tc3 tc3"
        "tc1 tc1 tc2 tc2 tc3 tc3";

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    max-width: 100%;
    display: grid;
    width: 100%;
}

.team .tc1,
.team .tc2,
.team .tc3 {
    padding: 10%;
    display: inline-block;
    background: lightblue;
}

.team .tc1 {
    grid-area: tc1;
}

.team .tc2 {
    grid-area: tc2;
}

.team .tc3 {
    grid-area: tc3;
}

.team .tc--img {
    width: 30%;
    height: 30%;
    display: block;
    margin: 5% auto 10% auto;
}

.team .tc--h {
    text-align: center;
}

.team .tc--p {
    width: 80%;
    margin: 10% auto 10% auto;
}

