* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

ul a {
    padding: 2.5%;
    display: inline-block;
    text-decoration: none;
    list-style-type: none; 
}

/*
img -> Imagen
nav -> Menu
*/

.header {
    grid-template-areas:
        "img"
        "nav";

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    background: #000;
    max-width: 100%;
    display: grid;
    width: 100%;

}

.header .hdr--img {
    grid-area: img;
    height: 400px;
    width: 100%;

}

.header .hdr--nav {
    grid-area: nav;
    white-space: nowrap;
}

/* Estilos sección Servicios
*/
.servicios {
    display: grid;
    grid-gap: 1.5rem;
    padding-left: 1%;
    padding-top: 5%;
    padding-bottom: 5%;
    grid-template-columns: 32% 32% 32%;
}
.ser_con{
    background: lightblue;
}
.servicios_img {
    width: 60%;
    height: 40%;
    display: block;
    margin: 5% auto 5% auto;
}
.ser_title{
    color: darkslategray;
    text-align: center;
}
.ser_p{
    color: darkslategray;
    text-align: justify;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    
}

/*
nw# -> Noticia número #
*/

.news {
    grid-template-areas:
        "nw1 nw1 nw1 nw2 nw2 nw2"
        "nw1 nw1 nw1 nw2 nw2 nw2"
        "nw3 nw3 nw3 nw4 nw4 nw4"
        "nw3 nw3 nw3 nw4 nw4 nw4";

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    max-width: 100%;
    display: grid;
    width: 100%;
}

.news{
    width: 100%;
    background-color: cadetblue;
    height: 240px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.news > div:first-child{
    margin: 0 6px;
}

.news-data{
    width: 49%;
    height: 100%;
    background-color: rebeccapurple;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; 
}

.news-image{
    margin: 10px 0;
    padding: 0 40px;
    color: white;
    
}

.news__image{
    height: 100px;
    width: 100px;
    vertical-align: middle;
}

.news-text{
    color: white;
    text-align: justify;
    width: 49%;
    padding: 1em 0;
}

.news-text > span.news-url{
    text-align: right;
}


.fa-ambulance.news-logo{
    padding: 0.25em 0;
}


.news-url{
    font-size: 10px;
    float: right;
}

.news-url > a{

    color: #ffffff; 
}

.news .nw1,
.news .nw2,
.news .nw3,
.news .nw4 {
    width: 100%;
    padding: 5% 0 5% 0;
    display: inline-block;
    background: lightblue;
}

.news .nw1 {
    grid-area: nw1;
}

.news .nw2 {
    grid-area: nw2;
}

.news .nw3 {
    grid-area: nw3;
}

.news .nw4 {
    grid-area: nw4;
}

.news .nw--h,
.news .nw--p {
    margin: 0 auto 0 auto;
    color: darkslategray;
    width: 90%;
}

/*
tc1 -> team__content #1
tc2 -> team__content #2
tc3 -> team__content #3
*/

.team {
    grid-template-areas:
        "tc1 tc1 tc2 tc2 tc3 tc3"
        "tc1 tc1 tc2 tc2 tc3 tc3"
        "tc1 tc1 tc2 tc2 tc3 tc3";

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    max-width: 100%;
    display: grid;
    width: 100%;
}

.team .tc1,
.team .tc2,
.team .tc3 {
    width: 95%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: inline-block;
    background: lightblue;
    margin: 5% auto 10% auto;
}

.team .tc1 {
    grid-area: tc1;
}

.team .tc2 {
    grid-area: tc2;
}

.team .tc3 {
    grid-area: tc3;
}

.team .tc--img {
    width: 30%;
    height: 30%;
    display: block;
    margin: 5% auto 10% auto;
}

.team .tc--h {
    color: darkslategray;
    text-align: center;
}

.team .tc--p {
    width: 80%;
    color: darkslategray;
    margin: 10% auto 10% auto;
}

/*
ft1 -> Motivaciones del desarrollo
ft2 -> Contacto y roles
*/

.footer {
    grid-template-areas:
        "ft1 ft1 ft1 ft2 ft2 ft2"
        "ft1 ft1 ft1 ft2 ft2 ft2"
        "ft1 ft1 ft1 ft2 ft2 ft2";

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    background: black;
    max-width: 100%;
    display: grid;
    width: 100%;
}

.footer .ft1,
.footer .ft2 {
    width: 95%;
    color: white;
    display: inline-block;
    margin: 5% auto 10% auto;
}

.footer .ft1 {
    grid-area: ft1;
}

.footer .ft1--card {
    width: 90%;
    height: 50px;
    color: black;
    font-size: 16px;
    padding: 0 25px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    display: inline-block;
    background-color: #f1f1f1;
}

.footer .ft1--card--img{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px 0 -25px;
}

.footer .ft1--p {
    width: 90%;
    text-align: center;
    margin: 5% auto 10% auto;
}

.footer .ft2 {
    grid-area: ft2;
}

.footer .ft2--card {
    width: 90%;
    height: 50px;
    margin-top: 3%;
    color: black;
    font-size: 16px;
    padding: 0 25px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    background-color: #f1f1f1;
    border-radius: 5px 25px 25px 5px;
}

.footer .ft2--card--img{
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 10px 0 -25px;
}

.footer .ft2--p {
    width: 90%;
    text-align: center;
    margin: 5% auto 10% auto;
}
